In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
test_list = [3, 34, 56, 78, 13, 27, 89, 99, 12, 12]

In [6]:
from statistics import mean

In [7]:
list_mean = mean(test_list)

In [8]:
print(list_mean)

45.666666666666664

In [9]:
np.mean(test_list)

45.666666666666664

In [13]:
np.median(test_list)

34.0

In [16]:
import statistics as s

In [28]:
s.mode(test_list)

12

In [18]:
import scipy.stats as sp

In [19]:
sp.iqr(test_list)

65.0

In [24]:
q1 = np.percentile(test_list, 25, interpolation='midpoint')
q3 = np.percentile(test_list, 75, interpolation='midpoint')

/var/folders/ht/6xpr92fx6hb_qsdf6ml3w35w0000gn/T/ipykernel_30417/3797479273.py:1: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  q1 = np.percentile(test_list, 25, interpolation='midpoint')
/var/folders/ht/6xpr92fx6hb_qsdf6ml3w35w0000gn/T/ipykernel_30417/3797479273.py:2: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  q3 = np.percentile(test_list, 75, interpolation='midpoint')

In [25]:
iqr_range = q3 - q1

In [26]:
print(iqr_range)

65.0

In [29]:
def iqr(x):
    x.sort()
    first_quartile_val = min(x)
    second_quartile_val = x[len(x)//4]
    third_quartile_val = x[(len(x)//4) * 2]
    fourth_quartile_val = x[(len(x)//4) * 3]
    list_quartiles = [first_quartile_val, second_quartile_val, third_quartile_val, fourth_quartile_val]

    return list_quartiles

iqr(test_list)

[3, 12, 27, 56]

In [30]:
iqr_range = iqr(test_list)[-1] - iqr(test_list)[1]
print(iqr_range)

44

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/mahinbindra/Downloads/new_data.csv')

In [4]:
df.head(20)

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
5,5,2019-11-01 00:00:01 UTC,view,1306894,2053013558920217191,computers.notebook,hp,360.09,520772685,816a59f3-f5ae-4ccd-9b23-82aa8c23d33c
6,6,2019-11-01 00:00:01 UTC,view,1306421,2053013558920217191,computers.notebook,hp,514.56,514028527,df8184cc-3694-4549-8c8c-6b5171877376
7,7,2019-11-01 00:00:02 UTC,view,15900065,2053013558190408249,NaN,rondell,30.86,518574284,5e6ef132-4d7c-4730-8c7f-85aa4082588f
8,8,2019-11-01 00:00:02 UTC,view,12708937,2053013553559896355,NaN,michelin,72.72,532364121,0a899268-31eb-46de-898d-09b2da950b24
9,9,2019-11-01 00:00:02 UTC,view,1004258,2053013555631882655,electronics.smartphone,apple,732.07,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0
10,10,2019-11-01 00:00:03 UTC,view,17200570,2053013559792632471,furniture.living_room.sofa,NaN,437.33,518780843,aa806835-b14c-45af-9538-cd4d1849be3e
11,11,2019-11-01 00:00:03 UTC,view,2701517,2053013563911439225,appliances.kitchen.refrigerators,NaN,155.11,518427361,c89b0d96-247f-4044-9c91-bb5f38c6af9b
12,12,2019-11-01 00:00:03 UTC,view,16700260,2053013559901684381,furniture.kitchen.chair,NaN,31.64,566255262,173d7b72-1db7-4638-8207-be8148bf3c9f
13,13,2019-11-01 00:00:04 UTC,view,34600011,2060981320581906480,NaN,NaN,20.54,512416379,4dfe2c67-e537-4dc2-ae69-0b65263db091
14,14,2019-11-01 00:00:05 UTC,view,4600658,2053013563944993659,appliances.kitchen.dishwasher,samsung,411.83,526595547,aab33a9a-29c3-4d50-84c1-8a2bc9256104
15,15,2019-11-01 00:00:06 UTC,view,24900193,2053013562183385881,NaN,NaN,1.09,512651494,f603c815-f51a-46fe-9404-cb586e35edaf
16,16,2019-11-01 00:00:07 UTC,view,27400066,2053013563391345499,NaN,NaN,8.55,551061950,3f6112f1-5695-4e88-bb0a-49f9e36658ff
17,17,2019-11-01 00:00:07 UTC,view,5100503,2053013553375346967,NaN,xiaomi,22.68,520037415,f54fa96a-f3f2-43ac-99a4-fcb2a449dd36
18,18,2019-11-01 00:00:07 UTC,view,1004566,2053013555631882655,electronics.smartphone,huawei,164.84,566265908,52c2c76c-b79e-4794-86ff-badc76d35f5a
19,19,2019-11-01 00:00:08 UTC,view,1307115,2053013558920217191,computers.notebook,hp,411.59,514028527,df8184cc-3694-4549-8c8c-6b5171877376

In [6]:
df['event_type'].unique()

array(['view', 'cart', 'purchase'], dtype=object)

In [7]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [8]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...
9999995,2019-11-07 05:08:21 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,915.69,517800555,c6b764e0-561c-4c17-a546-2e922196bb49
9999996,2019-11-07 05:08:21 UTC,view,12707281,2053013553559896355,NaN,gislaved,90.86,539095445,b1673b33-d0ff-4a09-bf57-56dedc3d016e
9999997,2019-11-07 05:08:21 UTC,view,3601405,2053013563810775923,appliances.kitchen.washer,beko,180.16,548916637,e020a307-551c-4e58-a787-126701d30d41
9999998,2019-11-07 05:08:21 UTC,view,12711053,2053013553559896355,NaN,tunga,32.69,521586999,c8c48941-2ca1-4ce4-8d44-c96eb5df4fb5
9999999,2019-11-07 05:08:21 UTC,cart,1005121,2053013555631882655,electronics.smartphone,apple,947.98,563025983,9b19a94a-78b9-4ff8-8334-f48eed7cc0a0

In [10]:
df.groupby('product_id')['price'].mean()

product_id
1000365     1029.090000
1000978      300.924988
1001588      127.853213
1001606      363.070000
1002042       77.140000
               ...
62100027       0.000000
62100028       0.000000
62100029       0.000000
62100030       0.000000
62100031       0.000000
Name: price, Length: 133917, dtype: float64

In [11]:
df.groupby('brand')['price'].mean()

brand
a-case                 14.556634
a-derma                13.292632
a-elita                50.412941
a-mega                 73.707460
aardwolf               65.116000
                         ...
zvezda                 42.650000
zwerg                  23.295000
zwilling              168.924000
zwillingjahenckels    883.973300
zyxel                 188.011220
Name: price, Length: 3373, dtype: float64

In [13]:
df.describe(include='all')

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
count,10000000,10000000,1.000000e+07,1.000000e+07,6697210,8589537,1.000000e+07,1.000000e+07,10000000
unique,523423,3,NaN,NaN,126,3373,NaN,NaN,2190461
top,2019-11-05 17:23:19 UTC,view,NaN,NaN,electronics.smartphone,samsung,NaN,NaN,4488e77a-9901-4c4b-b162-47a224ceab51
freq,113,9731128,NaN,NaN,2543371,1158050,NaN,NaN,504
mean,NaN,NaN,1.100008e+07,2.057828e+18,NaN,NaN,2.925741e+02,5.354292e+08,NaN
std,NaN,NaN,1.228346e+07,1.943274e+16,NaN,NaN,3.538111e+02,2.037214e+07,NaN
min,NaN,NaN,1.000365e+06,2.053014e+18,NaN,NaN,0.000000e+00,1.030022e+07,NaN
25%,NaN,NaN,1.005252e+06,2.053014e+18,NaN,NaN,6.667000e+01,5.159950e+08,NaN
50%,NaN,NaN,5.100722e+06,2.053014e+18,NaN,NaN,1.653100e+02,5.306267e+08,NaN
75%,NaN,NaN,1.640001e+07,2.053014e+18,NaN,NaN,3.654600e+02,5.548916e+08,NaN
max,NaN,NaN,6.210003e+07,2.180737e+18,NaN,NaN,2.574070e+03,5.684226e+08,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 686.6+ MB

In [15]:
df.loc[df['brand'].isnull()]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
10,2019-11-01 00:00:03 UTC,view,17200570,2053013559792632471,furniture.living_room.sofa,NaN,437.33,518780843,aa806835-b14c-45af-9538-cd4d1849be3e
11,2019-11-01 00:00:03 UTC,view,2701517,2053013563911439225,appliances.kitchen.refrigerators,NaN,155.11,518427361,c89b0d96-247f-4044-9c91-bb5f38c6af9b
12,2019-11-01 00:00:03 UTC,view,16700260,2053013559901684381,furniture.kitchen.chair,NaN,31.64,566255262,173d7b72-1db7-4638-8207-be8148bf3c9f
13,2019-11-01 00:00:04 UTC,view,34600011,2060981320581906480,NaN,NaN,20.54,512416379,4dfe2c67-e537-4dc2-ae69-0b65263db091
15,2019-11-01 00:00:06 UTC,view,24900193,2053013562183385881,NaN,NaN,1.09,512651494,f603c815-f51a-46fe-9404-cb586e35edaf
...,...,...,...,...,...,...,...,...,...
9999951,2019-11-07 05:08:19 UTC,view,17300339,2053013553853497655,NaN,NaN,35.24,514892246,3fb73301-363b-4050-a291-55508f920e72
9999963,2019-11-07 05:08:19 UTC,view,17200454,2053013559792632471,furniture.living_room.sofa,NaN,540.53,525982910,80dbe38b-7687-455c-88c4-386f73980221
9999975,2019-11-07 05:08:20 UTC,view,25200032,2053013562082722579,NaN,NaN,7.47,515465187,56f15699-16db-4ec0-8bbb-bc3905d425e0
9999992,2019-11-07 05:08:21 UTC,view,28716717,2053013565480109009,apparel.shoes.keds,NaN,62.81,524505413,02f4d264-d275-48f5-8156-4cdbe2c8c101
9999993,2019-11-07 05:08:21 UTC,view,15901409,2053013558190408249,NaN,NaN,34.75,524851956,e081e3aa-585f-4423-b951-41a7b1ba91c1