MBAN 6110 S: Assignment 2 - Statistical testing and A/B testing

- Submitted by: Mahin Bindra
- Student ID: 220089330

In [1]:
import pandas as pd

In [2]:
experiment = pd.read_csv('/Users/mahinbindra/Downloads/experiment_dataset.csv')

In [3]:
experiment.describe(include='all')

,Unnamed: 0,Age,Location,Device,Variant,Time Spent,CTR
count,1000.000000,1000.000000,1000,1000,1000,1000.000000,1000.000000
unique,NaN,NaN,3,3,3,NaN,NaN
top,NaN,NaN,Location2,Device3,Control,NaN,NaN
freq,NaN,NaN,343,346,340,NaN,NaN
mean,499.500000,40.715000,NaN,NaN,NaN,22.713345,0.109145
std,288.819436,13.655557,NaN,NaN,NaN,5.479292,0.022366
min,0.000000,18.000000,NaN,NaN,NaN,7.114806,0.012975
25%,249.750000,28.000000,NaN,NaN,NaN,19.216608,0.094286
50%,499.500000,41.000000,NaN,NaN,NaN,22.506707,0.108944
75%,749.250000,53.000000,NaN,NaN,NaN,26.255950,0.124238
max,999.000000,64.000000,NaN,NaN,NaN,39.395770,0.172728

In [4]:
experiment.head(10)

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579
5           5   27  Location3  Device1  Variant B   26.129246  0.149341
6           6   37  Location3  Device3  Variant B   20.525362  0.095788
7           7   39  Location2  Device1  Variant A   21.525217  0.149985
8           8   54  Location3  Device2    Control   21.910608  0.135535
9           9   41  Location1  Device2  Variant A   27.642788  0.137266

In [5]:
experiment.drop('Unnamed: 0', axis=1, inplace = True)

In [6]:
experiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

**Beginning of Question 1 - Analyze the results to determine which feature (if any) results in CTR or Time Spent lift.**

In [7]:
variant_control = experiment[experiment["Variant"] == "Control"]
variant_A = experiment[experiment["Variant"] == "Variant A"]
variant_B = experiment[experiment["Variant"] == "Variant B"]

In [8]:
CTR_average = experiment.groupby('Variant')['CTR'].mean()
print(CTR_average)

Variant
Control      0.098554
Variant A    0.120269
Variant B    0.108933
Name: CTR, dtype: float64

In [9]:
time_spent = experiment.groupby('Variant')['Time Spent'].mean()
print(time_spent)

Variant
Control      20.070781
Variant A    24.805547
Variant B    23.343783
Name: Time Spent, dtype: float64

In [10]:
CTR_mean_control = variant_control['CTR'].mean()
CTR_mean_variant_A = variant_A['CTR'].mean()
CTR_mean_variant_B = variant_B['CTR'].mean()

In [11]:
CTR_lift_variant_A = ((CTR_mean_variant_A - CTR_mean_control) / (CTR_mean_control) * 100)
CTR_lift_variant_B = ((CTR_mean_variant_B - CTR_mean_control) / (CTR_mean_control) * 100)

In [12]:
CTR_lift_variant_A

22.033916894202765

In [13]:
CTR_lift_variant_B

10.531151439806932

In [14]:
Timespent_mean_control = variant_control['Time Spent'].mean()
Timespent_mean_variant_A = variant_A['Time Spent'].mean()
Timespent_mean_variant_B = variant_B['Time Spent'].mean()

In [15]:
timespent_lift_variant_A = ((Timespent_mean_variant_A - Timespent_mean_control) / (Timespent_mean_control)) * 100
timespent_lift_variant_B = ((Timespent_mean_variant_B - Timespent_mean_control) / (Timespent_mean_control)) * 100

In [16]:
timespent_lift_variant_A

23.590344455268273

In [17]:
timespent_lift_variant_B

16.307297489993424

Based on the above results, it is clear that variant A has signficantly

**Beginning of Question 2 - Conduct statistical testing to determine if there is a statistically significant difference between the features and the control group.**

In [18]:
from scipy import stats

In [23]:
experiment.groupby('Age')[['CTR', 'Time Spent']].mean()

          CTR  Time Spent
Age
18   0.104431   21.805160
19   0.113928   24.301099
20   0.106769   22.658484
21   0.106317   23.174444
22   0.111566   23.339777
23   0.111024   21.203465
24   0.109765   21.505956
25   0.109907   23.541231
26   0.110061   22.598906
27   0.105247   21.729390
28   0.103960   21.807757
29   0.100519   24.299111
30   0.106659   23.432915
31   0.104464   21.989786
32   0.112993   22.346828
33   0.114898   24.616644
34   0.106876   22.385361
35   0.111845   21.581871
36   0.107217   22.879286
37   0.120952   20.809576
38   0.117152   25.301273
39   0.105070   22.893486
40   0.121210   21.684611
41   0.110276   24.134836
42   0.113295   24.833502
43   0.106507   21.289182
44   0.106827   23.023596
45   0.099483   22.468996
46   0.110406   22.938505
47   0.119617   21.702336
48   0.108007   22.503268
49   0.115586   25.031848
50   0.104252   24.264450
51   0.106918   22.599297
52   0.106556   21.631632
53   0.107413   20.838519
54   0.108838   23.340736
55   0.108426   23.145363
56   0.109381   21.172350
57   0.106884   23.608306
58   0.107542   21.206153
59   0.106319   20.797435
60   0.114229   21.909116
61   0.105097   24.839548
62   0.111154   23.215577
63   0.111595   23.439610
64   0.105848   23.264560

In [42]:
bins = [18, 26, 35, 45, 57, 65] 
labels = ['18-25', '26-34', '35-44', '45-56', '57-64']
experiment['Age Group'] = pd.cut(experiment['Age'], bins = bins, labels = labels, right = False)

In [43]:
experiment

     Age   Location   Device    Variant  Time Spent       CTR Age Group
0     62  Location2  Device2    Control   13.928669  0.084776     57-64
1     18  Location1  Device1  Variant B   11.310518  0.096859     18-25
2     21  Location2  Device1  Variant B   24.842100  0.097630     18-25
3     21  Location1  Device3  Variant B   20.061300  0.109783     18-25
4     57  Location1  Device2  Variant B   34.495503  0.068579     57-64
..   ...        ...      ...        ...         ...       ...       ...
995   39  Location2  Device2  Variant B   17.252030  0.092211     35-44
996   38  Location3  Device2    Control   30.075898  0.078151     35-44
997   60  Location2  Device3    Control   31.929223  0.125213     57-64
998   35  Location2  Device2  Variant B   14.680299  0.095423     35-44
999   55  Location1  Device1  Variant B   25.803169  0.166688     45-56

[1000 rows x 7 columns]

In [45]:
experiment.groupby('Age Group')[['CTR', 'Time Spent']].mean()

                CTR  Time Spent
Age Group
18-25      0.108994   22.609709
26-34      0.107126   22.795633
35-44      0.112198   22.936464
45-56      0.108586   22.514234
57-64      0.108329   22.770140

In [47]:
age_group_1_CTR = experiment[experiment['Age Group'] == '18-25']['CTR']
age_group_2_CTR = experiment[experiment['Age Group'] == '26-34']['CTR']
age_group_3_CTR = experiment[experiment['Age Group'] == '35-44']['CTR']
age_group_4_CTR = experiment[experiment['Age Group'] == '45-56']['CTR']
age_group_5_CTR = experiment[experiment['Age Group'] == '57-64']['CTR']

p_val = stats.f_oneway(age_group_1_CTR, age_group_2_CTR, age_group_3_CTR, age_group_4_CTR, age_group_5_CTR)
print(p_val)

F_onewayResult(statistic=1.4631788497955092, pvalue=0.21130759745565295)

In [48]:
age_group_1_timespent = experiment[experiment['Age Group'] == '18-25']['Time Spent']
age_group_2_timespent = experiment[experiment['Age Group'] == '26-34']['Time Spent']
age_group_3_timespent = experiment[experiment['Age Group'] == '35-44']['Time Spent']
age_group_4_timespent = experiment[experiment['Age Group'] == '45-56']['Time Spent']
age_group_5_timespent = experiment[experiment['Age Group'] == '57-64']['Time Spent']

p_val = stats.f_oneway(age_group_1_timespent, age_group_2_timespent, age_group_3_timespent, age_group_4_timespent, age_group_5_timespent)
print(p_val)

F_onewayResult(statistic=0.20635718076383386, pvalue=0.934940379050327)

In [24]:
experiment.groupby('Location')[['CTR', 'Time Spent']].mean()

                CTR  Time Spent
Location
Location1  0.110217   22.707286
Location2  0.108517   22.648998
Location3  0.108708   22.787691

In [25]:
location_1_CTR = experiment[experiment['Location'] == 'Location1']['CTR']
location_2_CTR = experiment[experiment['Location'] == 'Location2']['CTR']
location_3_CTR = experiment[experiment['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(location_1_CTR, location_2_CTR, location_3_CTR)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

In [26]:
location_1_timespent = experiment[experiment['Location'] == 'Location1']['Time Spent']
location_2_timespent = experiment[experiment['Location'] == 'Location2']['Time Spent']
location_3_timespent = experiment[experiment['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(location_1_timespent, location_2_timespent, location_3_timespent)
print(p_val)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [27]:
experiment.groupby('Device')[['CTR', 'Time Spent']].mean()

              CTR  Time Spent
Device
Device1  0.109634   22.635032
Device2  0.109868   22.890021
Device3  0.107993   22.612276

In [28]:
device_1_CTR = experiment[experiment['Device'] == 'Device1']['CTR']
device_2_CTR = experiment[experiment['Device'] == 'Device2']['CTR']
device_3_CTR = experiment[experiment['Device'] == 'Device3']['CTR']

p_val = stats.f_oneway(device_1_CTR, device_2_CTR, device_3_CTR)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

In [29]:
device_1_timespent = experiment[experiment['Device'] == 'Device1']['Time Spent']
device_2_timespent = experiment[experiment['Device'] == 'Device2']['Time Spent']
device_3_timespent = experiment[experiment['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(device_1_timespent, device_2_timespent, device_3_timespent)
print(p_val)

F_onewayResult(statistic=0.26645371811833884, pvalue=0.7661459958744103)

In [30]:
Control = experiment[experiment['Variant'] == 'Control']['CTR']
Variant_A = experiment[experiment['Variant'] == 'Variant A']['CTR']
Variant_B = experiment[experiment['Variant'] == 'Variant B']['CTR']

p_val = stats.f_oneway(Variant_A, Variant_B, Control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [31]:
Control = experiment[experiment['Variant'] == 'Control']['Time Spent']
Variant_A = experiment[experiment['Variant'] == 'Variant A']['Time Spent']
Variant_B = experiment[experiment['Variant'] == 'Variant B']['Time Spent']

p_val = stats.f_oneway(Variant_A, Variant_B, Control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [32]:
Control = experiment[experiment['Variant'] == 'Control']['CTR']
Variant_A = experiment[experiment['Variant'] == 'Variant A']['CTR']
Variant_B = experiment[experiment['Variant'] == 'Variant B']['CTR']

p_val = stats.ttest_ind(Variant_A, Control)
p_val_2 = stats.ttest_ind(Variant_B, Control)
p_val_3 = stats.ttest_ind(Variant_A, Variant_B)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

In [33]:
Control = experiment[experiment['Variant'] == 'Control']['Time Spent']
Variant_A = experiment[experiment['Variant'] == 'Variant A']['Time Spent']
Variant_B = experiment[experiment['Variant'] == 'Variant B']['Time Spent']

p_val = stats.ttest_ind(Variant_A, Control)
p_val_2 = stats.ttest_ind(Variant_B, Control)
p_val_3 = stats.ttest_ind(Variant_A, Variant_B)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

**Question 3: Summarize your results. Make a recommendation to the engineering team about which feature to deploy.**

Crucial to understanding which variant performs better, I took a systematic and robust approach, such as conducting statistical tests, to determine the variant that would yield a higher click-through rate and increase users' time spent on the app, resulting in higher consumer spending. 

To assess whether user behaviour varies by demographics post-experimentation, we performed statistical tests to compare the behavioral variations by age, location and device. A high p-value (>0.05) reinforces our belief that user behaviour by demographics is similar and such demographical differences do not impact CTR and time spent on the application.

To further evaluate the results, we conducted ANOVA and T-tests to determine that CTR and Time Spent have statistically significant values indicating that both variants and the control group have performed notably differently regarding click-through rate and time spent. 
To fortify our findings, we performed a t-test to compare the variants and the control group to each other individually.
Since the CTR p-values and time spent p-values for all three variants are statistically different, it is evident that one variant performs better in inducing a higher click-through rate while using the feature and compelling users to spend more time on the application, respectively.

To understand which variant is better, we grouped the dataset by variant and calculated the mean for CTR and time spent. On comparison of results, though both variants A and B have higher average CTR and time spent, variant A has slightly higher mean values. 
We also calculated the CTR and time spent lift for both variants to validate our results further. We found that the CTR lift for variants A and B is positive, indicating that both variants induce a higher click-through rate (CTR) than the control group. However, variant A is more effective in driving user engagement, resulting in higher user entrenchment towards the feature than variant B due to its higher CTR lift. Similarly, a positive time spent lift for both variants indicates better performance over the control variant. In contrast, a higher time spent lift of variant A over variant B suggests it's more engaging, resulting in consumers spending more time interacting with the feature.

**_Based on the above analysis, I recommend that we deploy variant A to all users to compel higher user engagement and interaction with the feature._**

**Question 4: Create a roll-out plan. How quickly will you introduce the feature to your audience?**

Now that we have decided which variant to deploy, we need to fulfil the following objectives before rolling out the feature to the audience - 
- **Test the feature internally** - Conduct rigorous internal tests to ensure the proper functioning of the feature to ensure no bugs and performance issues with the feature
- **Devise a gradational approach** -  Rather than launching the feature to all users at once, follow a phased approach to assess customer perceptions, fix unforeseen bugs to optimize the feature and then roll out the feature to everyoneâ€”for example, Apple's beta version approach when launching a new iOS version.
- **Plan a sound advertising strategy** - Identify the current unmet needs in the market and how the said feature will resolve these issues and add value for the users. Also, assess which segments, if any, would benefit significantly from the feature and prioritize them during the phased approach.
- **Set up a user feedback and improvement team** - Assign a team that constantly monitors feedback and glitches in the feature, fixing them imperatively, ensuring a smooth user experience for all customers, potentially establishing a firm entrenchment towards the application.
- **Performance Tracker** - Carry out wave-over-wave studies to keep track of the Key Performace Indicators (KPIs) to extrapolate strategies to ensure customer stickiness and induce high user engagement and satisfaction.

After completing all the significant deliverables and work packages, the organization should introduce the feature to the audience at the earliest, providing enough availability of resources to carry out the launch. Launching the feature at the earliest would ensure the following.
- **Innovation** - Users who already bought into the application would appreciate changes and new ideas, reinforcing their comfort with the application
- **Solve for bugs** - In case any users are not satisfied with the application due to technical issues and plan to move away from it, new changes will ensure a smoother experience, thus retaining those consumers
- **Attract new users** - Consumers not currently using the application might find the updated feature appealing and switch immediately.