In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/mahinbindra/Downloads/data1.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        300 non-null    int64
 1   instance_name             300 non-null    object
 2   active_time_sec           300 non-null    int64
 3   boot_time_sec             300 non-null    int64
 4   get_requests              300 non-null    int64
 5   post_requests             300 non-null    int64
 6   traffic_in_mb             300 non-null    int64
 7   traffic_out_mb            300 non-null    int64
 8   average_response_time_ms  300 non-null    int64
dtypes: int64(8), object(1)
memory usage: 21.2+ KB

In [4]:
df.head()

,id,instance_name,active_time_sec,boot_time_sec,get_requests,post_requests,traffic_in_mb,traffic_out_mb,average_response_time_ms
0,0,inst-000,85382,91,2596,12431,8739,54658,101
1,1,inst-001,75502,76,9511,11057,18263,100585,86
2,2,inst-002,47851,69,4423,4673,6787,81552,198
3,3,inst-003,75185,208,11309,9557,18647,65882,223
4,4,inst-004,78584,110,17087,9492,10922,154076,60

high efficient if average response time < 150ms
processed 22000 total requests and boot time percentage <1%

In [5]:
df['total_requests'] = df['get_requests'] + df['post_requests']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        300 non-null    int64
 1   instance_name             300 non-null    object
 2   active_time_sec           300 non-null    int64
 3   boot_time_sec             300 non-null    int64
 4   get_requests              300 non-null    int64
 5   post_requests             300 non-null    int64
 6   traffic_in_mb             300 non-null    int64
 7   traffic_out_mb            300 non-null    int64
 8   average_response_time_ms  300 non-null    int64
 9   total_requests            300 non-null    int64
dtypes: int64(9), object(1)
memory usage: 23.6+ KB

In [10]:
count_requests = df['total_requests'].value_counts()[22000]

KeyError: 22000

In [7]:
df.count((df['total_requests']>22000))

TypeError: unhashable type: 'Series'

In [13]:
df['post_requests'].value_counts

<bound method IndexOpsMixin.value_counts of 0      12431
1      11057
2       4673
3       9557
4       9492
       ...
295     5794
296     9734
297     8657
298    13744
299    13893
Name: post_requests, Length: 300, dtype: int64>

In [17]:
df[(df['post_requests']>1000) & (df['traffic_in_mb'] > df['traffic_out_mb'])]

,id,instance_name,active_time_sec,boot_time_sec,get_requests,post_requests,traffic_in_mb,traffic_out_mb,average_response_time_ms,total_requests
70,70,inst-070,84572,306,16257,10960,5068,2303,159,27217
71,71,inst-071,26137,174,7500,7888,9203,0,223,15388
137,137,inst-137,71088,351,14590,16458,16776,0,98,31048
169,169,inst-169,84544,34,9918,1400,3770,0,120,11318
194,194,inst-194,2935,242,4772,6979,9086,0,126,11751
201,201,inst-201,47943,264,14323,9937,14031,0,96,24260
224,224,inst-224,84385,282,11516,14337,8209,0,127,25853
249,249,inst-249,83528,117,9718,4701,10488,0,119,14419
279,279,inst-279,74781,240,14294,15861,20628,0,116,30155
296,296,inst-296,55029,167,0,9734,8644,0,144,9734

In [20]:
df[(df['total_requests']>22000) & (df['average_response_time_ms']<150) & (df['boot_time_sec']<df['boot_time_sec'])]

Empty DataFrame
Columns: [id, instance_name, active_time_sec, boot_time_sec, get_requests, post_requests, traffic_in_mb, traffic_out_mb, average_response_time_ms, total_requests]
Index: []